/* color: #212121; - основной чорный 
    color: #757575; - вторичный чорный
    color: #FFFFFF; - основной белый
    color: #757575; - вторичный белый 
    background: #F5F4FA; - фон окна
    color: #2196F3; - ховер ефект
    - */
/* ---глобальные селекторы---- */
a {
  text-decoration: none;
}
li {
  list-style-type: none;
}
body {
  color: #212121;
  background-color: #96969652; /* временный цвет для удобства */
  font-family: "Roboto", sans-serif;
}
.hide-headers {
  display: none;
}
/* ----Селекторы header----  */
/* Селекторы навигации */
.header-nav-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #212121;
}
.header-nav-link:hover,
.header-nav-link:focus {
  color: #2196f3;
}
/* Селекторы адреса */
.header-nav-adress {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #757575;
}
.header-nav-adress:hover,
.header-nav-adress:focus {
  color: #2196f3;
}
/* ----Селекторы footer---- */
.footer-titles {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  color: #ffffff;
}
/* Контакты и адреса */
.footer-adress-link {
  font-style: normal;
  font-size: 14px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.6);
}
.footer-adress-map {
  font-style: normal;
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
}
.footer-copyright {
  font-style: normal;
  font-size: 12px;
  line-height: 24px;
  text-align: center;
  color: rgba(255, 255, 255, 0.4);
}
/* ----селекторы страницы Index.html----- */
.section-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  color: #212121;
}
/* Селекторы секции заказа услуг */
.services-text-hero {
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}
.services-button-text {
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  color: #ffffff;
}
/* Селекторы секции преимущества */
.feature-title {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
}
.feature-text {
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #757575;
}
/* Селекторы секции чем мы занимаемся */
/* Селекторы секции наша команда */
.our-team-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #212121;
}
.our-team-text {
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #757575;
}
/* ----Селекторы страницы portfolio.html---- */
/* секция фильтров */
.main-filters-headers {
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
}
.filters-button {
  background-color: #f5f4fa;
  border-radius: 4px;
  border: none;
}
.filters-button:hover,
.filters-button:focus {
  background-color: #2196f3;
  color: #ffffff;
  border-radius: 4px;
  border: none;
}
/* секция контента */
.main-content-headers {
  font-weight: bold;
  font-size: 18px;
  line-height: 36px;
}
.main-content-text {
  font-size: 16px;
  line-height: 30px;
  color: #757575;
}
