/* color: #212121; - основной чорный 
    color: #757575; - вторичный чорный
    color: #FFFFFF; - основной белый
    color: rgba(255, 255, 255, 0.6); - вторичный белый 
    background: #F5F4FA; - фон окна
    color: #2196F3; - ховер ефект
    - */
/* ---глобальные селекторы---- */
a {
  text-decoration: none;
}
li {
  list-style-type: none;
}
body {
  color: #212121;
  background-color: #96969652; /* временный цвет для удобства */
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}
.hide-headers {
  display: none;
}
:root {
  --main-color-black: #212121;
  --sub-main-color-black: #757575;
  --main-color-white: #ffffff;
  --sub-main-color-white: rgba(255, 255, 255, 0.6);
  --hover-color: #2196f3;
}
/* ----Селекторы header----  */
/* Селекторы навигации */
.header-nav-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-color-black);
}
.header-nav-link:hover,
.header-nav-link:focus {
  color: var(--hover-color);
}
/* Селекторы адреса */
.header-nav-adress {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--sub-main-color-black);
}
.header-nav-adress:hover,
.header-nav-adress:focus {
  color: var(--hover-color);
}
/* ----Селекторы footer---- */
.footer-titles {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--main-color-white);
}
/* Контакты и адреса */
.footer-adress-link {
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  color: var(--sub-main-color-white);
}
.footer-adress-map {
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  color: var(--main-color-white);
}
.footer-copyright {
  font-style: normal;
  font-size: 12px;
  line-height: 2;
  text-align: center;
  color: var(--sub-main-color-white);
}
/* ----селекторы страницы Index.html----- */
.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  color: #212121;
}
/* Селекторы секции заказа услуг */
.services-text-hero {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--main-color-white);
}
.services-button-text {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--main-color-white);
}
/* Селекторы секции преимущества */
.feature-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
.feature-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  color: var(--sub-main-color-black);
}
/* Селекторы секции чем мы занимаемся */
/* Селекторы секции наша команда */
.our-team-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  color: #212121;
}
.our-team-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  color: var(--sub-main-color-black);
}
/* ----Селекторы страницы portfolio.html---- */
/* секция фильтров */
.main-filters-headers {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
}
.filters-button {
  background-color: #f5f4fa;
  border-radius: 4px;
  border: none;
}
.filters-button:hover,
.filters-button:focus {
  background-color: var(--hover-color);
  color: var(--main-color-white);
  border-radius: 4px;
  border: none;
}
/* секция контента */
.main-content-headers {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}
.main-content-text {
  font-size: 16px;
  line-height: 1.8;
  color: var(--sub-main-color-black);
}
.main-content-text-target {
  font-size: 18px;
  line-height: 1.5;
  color: var(--main-color-white);
}
